$base-color: #6C6C6F;
$main-color: #256BE6;
$main-bg: #F7FAFF;
$bg-color: #123D88;

@mixin basic-inner {
    width: 92%;
    max-width: 1170px;
    margin: 0 auto;
}

@mixin basic-flex {
    display: flex;
    flex-wrap: wrap;
}
/* ベース
-------------------------------------------------- */
body{
    color: $base-color;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: (28/16);
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* header */
.header{
    padding: 30px 0;
    background-color: $bg-color;

    &__inner{
        @include basic-inner;
        @include basic-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        line-height: 1;
    }
}

/* g-nav */
.g-nav{

    &__list{
        @include basic-flex;
    }

    &__item{
        margin-left: 30px;
    }

    &__link{
        color: #fff;
    }
}

/* footer */
.footer{
    padding: 30px 0;
    background-color: $bg-color;
    text-align: right;

    &__inner{
        @include basic-inner;
    }

    &__copy{
        color: #fff;
        font-size: 15px;
    }
}

/* card */
.card{
    border-radius: 5px;
    background-color: #fff;

    &__icon{
        margin-bottom: 15px;
    }

    &__title{
        color: #2F2F35;
        font-size: 22px;
        font-weight: bold;
    }

    &--shadow{
        padding: 50px 25px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
    }

    &--border{
        padding: 25px;
        border: 1px solid #F1F1F1;

        & .card__title{
            font-size: 18px;
        }
    }

    &--bgBlue{
        background-color: $main-color;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
        border: none;

        & .card__title{
            color: #fff;
        }
    }

    &--flex{
        @include basic-flex;
        align-items: center;

        & .card__icon{
            margin-bottom: 0;
            margin-right: 25px;
        }

        & .card__info{
            flex: 1;
        }
    }
}

/* media */
.media{

    &__title{
        margin-bottom: 20px;
        color: #262934;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.33;
    }

    &__sub-title{
        margin-bottom: 15px;
        color: $main-color;
        font-size: 14px;
        letter-spacing: 0.05em;
    }

    &--lead{
        max-width: 770px;
        margin: 0 auto;
        padding-bottom: 80px;
    }

    &--bg{
        color: #fff;

        & .media__title,
        & .media__subtitle{
            color: #fff;
        }
    }
}

/* btn */
.btn{
    display: inline-block;
    width: 200px;
    margin-top: 50px;
    padding: 12px 0;
    background-color: $main-color;
    border-radius: 28px;
    color: #fff;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

    &--info{
        background-color: #2DBE61;
        box-shadow: 0 5px 10px rgba(22, 132, 61, 0.1);
    }

    &--outline{
        border: 1px solid #fff;
        background-color: transparent;
        box-shadow: none;
    }

    &--question{
        background-color: #F87624;
    }
}

/* index.html
-------------------------------------------------- */
/* features */
.features{
    padding: 40px 0;

    &__inner{
        @include basic-inner;
        @include basic-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info{
        width: 42.7%;
    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
        width: 50.4%;
    }

    &__card{
        width: 44%;
        margin: 40px 0;
    }

}

/* payment */
.payment{
    padding: 80px 0;
    background-color: $main-bg;

    &__inner{
        @include basic-inner;
        @include basic-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__image{
        width: 50.4%;
    }

    &__info{
        width: 42.7%;
    }
}

/* speciality */
.speciality{
    padding: 80px;
    text-align: center;

    &__inner{
        @include basic-inner;
    }

    &__list{
        @include basic-flex;
        justify-content: space-evenly;
    }

    &__card{
        width: 27.3%;
    }
}

/* about.html
-------------------------------------------------- */
/* choose */
.choose{
    padding: 80px 0 50px;
    background-color: $main-bg;

    &__inner{
        @include basic-inner;
    }

    &__info{
        text-align: center;
    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
    }

    &__card{
        width: 48.7%;
        margin-bottom: 30px;
        padding: 30px 25px;
    }
}

/* offer */
.offer{
    padding: 80px 0;
    background-color: $bg-color;
    text-align: center;

    &__inner{
        @include basic-inner;
    }
}

/* wedo */
.wedo{
    padding: 80px 0;
    text-align: center;

    &__inner{
        @include basic-inner;
    }

    &__list{
        @include basic-flex;
        justify-content: space-evenly;
    }

    &__card{
        width: 27.3%;
    }
}

/* help.html
-------------------------------------------------- */
/* transfer */
.transfer{
    padding: 80px 0;
    text-align: center;

    &__inner{
        @include basic-inner;
    }

    &__list{
        @include basic-flex;
        justify-content: space-evenly;
    }

    &__card{
        width: 31.6%;
    }
}

/* payment--help */
.payment--help{

    & .payment__info{
        width: 57.2%;
    }

    & .payment__image{
        width: 35.4%;
    }
}

/* question */
.question{
    background-color: $bg-color;
    padding-top: 80px;
    text-align: center;

    &__inner{
        @include basic-inner;
    }
}

/* asked */
.asked{
    padding: 80px 0;
    text-align: center;

    &__inner{
        @include basic-inner;
    }

    &__list{
        @include basic-flex;
        justify-content: center;
    }

    &__card{
        width: 19.6%;
        margin: 0 8px;
    }
}